/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************** End CSS Reset  ***************/

/************ GENERAL PAGE LAYOUT *************/
:root {
	--accent-color: #00b3e5;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100vw;
}

.page-container	{
	display: grid;
	gap: 20px;
	grid-template-areas:
		".  header            header           ."
		".  main              sidebar          ."
		".  links                .             ."
		".  related-content   related-content  ."
		".  footer            footer           .";
	grid-template-columns: 3fr 4fr minmax(300px, 2.5fr) 3fr;
	padding: 40px 0;
	width: 100%;
}

/*************** Header ****************/
#header {
	display: grid;
	font-family: 'Titillium Web', Helvetica, sans-serif;
	gap: 12px;
	grid-area: header;
	grid-template-areas:
		"new-scientist-banner"
		"navigation";
}

#header * {
	cursor: pointer;
}
/**** Banner ****/
.new-scientist-banner {
	align-items: start;
	display: grid;
	gap: 10%;
	grid-area: new-scientist-banner;
	grid-template-areas:
		"newsletter   heading  subscribe-button";
	justify-content: space-between;
}

.newsletter h3 {
	color: var(--accent-color);
	font-size: 16px;
	font-weight: 700;
	margin-top: 5px;
}

.newsletter h3:hover {
	color: #288eb7;
}

.newsletter-signup-prompt a {
	color: #999;
	font-family: 'PT Serif', Georgia, serif;
	font-weight: 16px;
	line-height: 1.25em;
	text-decoration: none;
}

.newsletter-signup-prompt a:hover {
	text-decoration: underline;
}

.new-scientist-banner h2 {
	align-self: start;
	font-size: 65px;
	font-weight: 900;
}

.subscribe-button {
	background-color: var(--accent-color);
	border: 0px solid white;
	border-radius: 3px;
	color: white;
	font-size: 16px;
	font-weight: 600px;
	margin-top: 5px;
	padding: 7.5px;
	transition-duration: 0.2s;
	width: 240px;
}

.subscribe-button:hover {
	background-color: #288eb7;
}
/**** Navigation ****/
.navigation {
	align-self: center;
	display: grid;
	font-size: 18px;
	font-weight: 700;
	gap: 50px;
	grid-template-areas:
		"navbar   signin";
	grid-template-columns: 1fr max-content;
}
.navbar > ul {
	align-items: center;
	color: var(--accent-color);
	display: flex;
	height: 100%;
	justify-content: space-between;
}

.category:hover {
	color: var(--accent-color);
}

.navbar li {
	padding-bottom: 6px;
}

.navbar li:hover {
	border-bottom: 4px solid #002837;
	padding-bottom: 2px;
}

.space-category {
	border-bottom: 4px solid #002837;
	padding-bottom: 2px;
}

.category {
	color: #002837;
}


.signin-search {
	display: grid;
	gap: 20px;
	grid-template-columns: max-content max-content;
}

.signin,
.search {
	color:#002837;
	display: grid;
	grid-template-columns: max-content max-content;
	font-size: 18px;
	font-weight: 700;
	place-items: center;
	text-decoration: none;
}

.signin:hover,
.search:hover {
	color: #999;
	text-decoration: underline;
}

.search {
	background: none;
	border: none;
	font-size: 17px;

}

/*************** Main ****************/
#main {
	border: 2px solid lightblue;
	color: #4d4d4d;
	display: grid;
	gap: 15px;
	grid-area: main;
	grid-template-areas:
		"main-header"
		"main-article"
		"newsletter-aside";
}


/**** Header.Main-Header ****/
.main-header {
	cursor: pointer;
	display: grid;
	font-family: "Titillium Web", Helvetiac, sans-serif;	
	gap: 15px;
	grid-area: main-header;
	grid-template-areas:
		"heading"
		"links"
		"category-time"
		"author";
}

h1 {
	cursor: text;
	font-size: 50px;
	font-weight: 700;
	grid-area: heading;
}

.links {
	display: flex;
	gap: 10px;
	grid-area: links;
	justify-content: flex-start;
}

.links > button {
	border: none;
	border-radius: 50%;
	height: 30px;
	transition-duration: 0.2s;
	width: 30px;
}

.links > button:hover {
	filter: brightness(1.2);
}

.links a {
	color: white;
}

.fa {
	font-size: 20px;
}
.facebook-icon {
	background: #3b5998;
}

.twitter-icon {
	background: #28a1f2;
}

.whatsapp-icon {
	background: #4dc247;
}

.linkedin-icon {
	background: #1b77b5;
}

.reddit-icon {
	background: #f95701;
}

.utility-icon {
	background: #999;
}

.category-time {
	color: #4d4d4d;
	font-size: 16px;
	font-weight: 300;
}

.category-time strong {
	color: #484848;
	font-weight: 700;
}

.category-time strong:hover {
	text-decoration: underline;
}

.author {
	color: #4d4d4d;
}

.author a {
	color: var(--accent-color);
	font-weight: 700;
	text-decoration: none;
}

/**** Main > Article.Main-Article ****/
.main-article {
	display: grid;
	font-family: "PT Serif", Georgia, serif;
	font-size: 17px;
	gap: 15px;
	line-height: 25px;
}

.main-article figcaption {
	font-family: "Titillium Web", Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 15px;
}

figcaption small {
	font-weight: 400;
}

.main-article a {
	color: var(--accent-color);
	cursor: pointer;
	text-decoration: none;
}

.read-more {
	background: #f5f5f5;
	color: #000;
	font-size: 16px;
	font-weight: 700;
	margin: 15px 0;
	padding: 11px;
}

.reference {
	font-size: 16px;
}

.reference b {
	font-weight: 700;
}

.reference i {
	font-style: italic;
	font-weight: 300;
}


/******** Sidebar ********/
#sidebar {
	background: lightgrey;
	grid-area: sidebar;
}

/******** Links  ********/
#links {
	background: lightgreen;
	grid-area: links;
}

/******** Related Content ********/
#related-content {
	background: mistyrose;
	grid-area: related-content;
}

/******** Footer ********/
#footer {
	background: lightseagreen;
	grid-area: footer;
}