/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************** End CSS Reset  ***************/

/************ GENERAL PAGE LAYOUT *************/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100vw;
}

.page-container	{
	display: grid;
	grid-template-areas:
		"header            header "
		"main              sidebar"
		"links                .   "
		"related-content   related-content"
		"footer            footer";
	padding: 40px 20%;
	width: 100%;
}

/*************** Header ****************/
#header {
	background: pink;
	display: grid;
	grid-area: header;
	grid-template-areas:
		"new-scientist-banner"
		"navigation";
}
/**** Banner ****/
.new-scientist-banner {
	align-items: center;
	display: grid;
	grid-area: new-scientist-banner;
	grid-template-areas:
		"newsletter   heading  subscribe-button";
}

/**** Navigation ****/
.navigation {
	align-self: center;
	display: grid;
	gap: 50px;
	grid-template-areas:
		"navbar   signin";
	grid-template-columns: 1fr max-content;
}
.navbar > ul {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: space-between;
}

.signin-search {
	display: grid;
	gap: 20px;
	grid-template-columns: max-content max-content;
}

.signin,
.search {
	display: grid;
	grid-template-columns: max-content max-content;
	place-items: center;
}








/******** Main *********/
#main {
	background: lightblue;
	grid-area: main;
}

/******** Sidebar ********/
#sidebar {
	background: lightgrey;
	grid-area: sidebar;
}

/******** Links  ********/
#links {
	background: lightgreen;
	grid-area: links;
}

/******** Related Content ********/
#related-content {
	background: mistyrose;
	grid-area: related-content;
}

/******** Footer ********/
#footer {
	background: lightseagreen;
	grid-area: footer;
}